<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
    <div class="about_details">
    <p>This Web App tells you about the Weather conditions and Temperature of the place which is searched.
        If the searched location does not exist ,it will ask you to re-enter the correct location. 
    </p> 
    <p>
        HTML/css, Javascript, Node.js and express.js were 
        used for the creation of this web app. APIs for weather forecasting and geocoding were taken from Mapbox.com and openweathermap.org.

    </p>
    </div>
    </div>
    
    {{>footer}}
</body>

</html>